.post {
    max-width: 45%;
}
.post .card-img {
    min-height: 30%;
    max-height: 50vh;
    filter: brightness(0.8);
    object-fit: cover;
}
.post .card-img-overlay {
    height: 40%;
}
.card-img-overlay {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.card-img-overlay .actionImg:hover {
    background-color: rgba(223, 215, 215, 0.418);
    border-radius: 50%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-footer {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card-footer button {
    font-size: 0.6rem;
    padding: 0;
}

@media screen and (max-width: 660px) {
    .post {
        max-width:none;
    }
}
